export(choropleth_map_prov_pdf)
import(scales)
import(dplyr)
import(ggplot2)
import(stringr)
import(sf)
import(classInt)
import(ggspatial)
import(png)
import(grid)
import(showtext)
import(sysfonts)
import(grDevices)
import(kimisc)
